
.footer input{
    width:100%;
    border:1px solid green;
    outline: white;
}
.insta-icon{
    font-size: 25px;
   color:royalblue;
}
.fb-icon{
    font-size: 25px;  
    color: royalblue; 
}
.youtube-icon{
    font-size: 25px;
    color:royalblue;
}
.google-icon{
    color:royalblue;
    font-size: 25px;
}
.footer-anchor a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    padding-left: 20px;
    
}